.search-flex{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    height: 2.5rem;
    padding: 0.5rem 1.5rem;
    color: var(--grey);
    background-color: var(--darkgrey);
    width: 80%;
    border-radius: 2rem;
    margin: 2rem auto;
}
.search-flex input{
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--darkgrey);
    color: var(--grey);
    font-size: 1.3rem;
    font-family: "Inter Tight";
    font-weight: 600;
}