.landingPage-container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  min-height: 90vh;
}

.track-crypto-heading,
.real-time-heading {
  font-size: 7rem;
  margin: 0px;
  font-weight: 800;
  white-space: nowrap;
}

.real-time-heading {
  color: var(--blue);
}
.track-crypto-heading {
  color: var(--white);
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
  transition: all 0.2s linear;
}
.track-crypto-heading:hover {
  -webkit-text-stroke-width: 3px;
  -webkit-text-stroke-color: var(--white);
  color: var(--black);
}

.para {
  color: var(--grey);
  font-size: 1.2rem;
}

.btn-flex {
  margin-top: 2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}

.image-container {
  position: relative;
  /* border: 2px solid yellow; */
}
.gradient {
  width: 100%;
  max-width: 300px;
  top: 6rem;
  object-fit: contain;
  z-index: 0;
}

.iphone {
  position: absolute;
  width: 100%;
  max-width: 380px;
  object-fit: contain;
  z-index: 1;
  right: 0rem;
}

@media only screen and (max-width: 1250px) {
  .left-container {
    width: 60%;
  }

  .gradient {
    max-width: 250px;
    top: 4rem;
  }
  .iphone {
    max-width: 300px;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 5rem;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 2px;
  }
  .track-crypto-heading:hover {
    -webkit-text-stroke-width: 2px;
  }
}

@media only screen and (max-width: 1050px) {
  .gradient {
    max-width: 230px;
    top: 3rem;
  }
  .iphone {
    max-width: 280px;
  }
  .track-crypto-heading,
  .real-time-heading {
    font-size: 4rem;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 1px;
  }
  .track-crypto-heading:hover {
    -webkit-text-stroke-width: 1px;
  }
  .para {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 800px) {
  .landingPage-container {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .left-container {
    width: 100%;
    text-align: center;
  }

  .right-container {
    display: flex;
    justify-content: center;
    width: 100%;
    justify-content: center;
    padding-top: 3rem;
  }

  .track-crypto-heading,
  .real-time-heading {
    font-size: 3rem;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 1px;
  }
  .track-crypto-heading:hover {
    -webkit-text-stroke-width: 1px;
  }
  .para {
    font-size: 0.8rem;
  }
  .btn-flex {
    justify-content: center;
  }
}

@media screen and (max-width: 400px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 2rem;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 1px;
  }
  .track-crypto-heading:hover {
    -webkit-text-stroke-width: 1px;
  }
  .para {
    font-size: 0.8rem;
  }
  .btn-flex {
    flex-direction: column;
  }
}
@media screen and (max-width: 300px) {
  .track-crypto-heading,
  .real-time-heading {
    font-size: 1.5rem;
  }
  .track-crypto-heading {
    -webkit-text-stroke-width: 0.5px;
  }
  .track-crypto-heading:hover {
    -webkit-text-stroke-width: 0.5px;
  }
  .para {
    font-size: 0.7rem;
  }
  .btn-flex {
    flex-direction: column;
  }
}
